/* ========================================================================
   Стили шрифтов / Font styles
======================================================================== */
@font-face {
	font-family: 'iconfont';
	src:  url('../fonts/iconfont.eot?3ec9kc');
	src:  url('../fonts/iconfont.eot?3ec9kc#iefix') format('embedded-opentype'),
	url('../fonts/iconfont.ttf?3ec9kc') format('truetype'),
	url('../fonts/iconfont.woff?3ec9kc') format('woff'),
	url('../fonts/iconfont.svg?3ec9kc#iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'iconfont' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-left-arrow:before {
	content: "\e905";
}
.icon-right-arrow:before {
	content: "\e906";
}
.icon-search:before {
	content: "\e904";
}
.icon-facebook-logo-button:before {
	content: "\e900";
}
.icon-google-plus-logo-button:before {
	content: "\e901";
}
.icon-twitter:before {
	content: "\e902";
}
.icon-youtube-logotype:before {
	content: "\e903";
}
/* ========================================================================
   Общие стили / Common styles
======================================================================== */
body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #636363;
}
a, a:hover, a:focus{
	text-decoration: none;
	transition: all 0.2s ease;
}
.text-smallest{
	font-size: 12px;
	line-height: 14px;
}
.text-smaller{
	font-size: 13px;
	line-height: 14px;
}
.text-small{
	font-size: 14px;
	line-height: 16px;
}
.text-usual{
	font-size: 16px;
	line-height: 20px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin-bottom: 0;
}
h4,
.h4,
.text-large{
	font-size: 18px;
	line-height: 24px;
}
h3,
.h3{
	font-size: 20px;
	line-height: 26px;
}
h2,
.h2{
	font-size: 24px;
	line-height: 32px;
}
h1,
.h1{
	font-size: 30px;
	line-height: 40px;
}
.text-contrast{
	color: #fff;
}
.text-dark{
	color: #1f1f1f;
}
.text-orange{
	color: #ff4800;
}
.text-bold{
	font-weight: 700;
}
.margin-top{
	margin-top: 10px;
}
.margin-bottom{
	margin-bottom: 10px;
}
.margin-top-medium{
	margin-top: 15px;
}
.margin-bottom-medium{
	margin-bottom: 15px;
}
.margin-top-large{
	margin-top: 40px;
}
.margin-bottom-large{
	margin-bottom: 40px;
}
.position-relative{
	position: relative;
}
.position-absolute{
	position: absolute;
}
hr{
	border-color: #dcdcdc;
}
/*Кнопки*/
.button{
	line-height: 28px;
	padding: 0 15px;
	display: inline-block;
	background: #ff4800;
	color: #fff;
	text-align: center;
	font-size: 13px;
	text-transform: uppercase;
	border: 1px solid #ff4800;
	cursor: pointer;
	transition: all 0.2s ease;
}
.button:focus{
	color: #fff;
}
.button:hover{
	background: transparent;
	color: #ff4800;
	transition: all 0.2s ease;
}
.button-large{
	line-height: 58px;
	padding: 0 20px;
	font-size: 24px;
	font-weight: 700;
}
/*Формы*/
::-webkit-input-placeholder {color: #1f1f1f; opacity: 1; transition: 0.2s ease}
::-moz-placeholder          {color: #1f1f1f; opacity: 1; transition: 0.2s ease}
:-moz-placeholder           {color: #1f1f1f; opacity: 1; transition: 0.2s ease}
:-ms-input-placeholder      {color: #1f1f1f; opacity: 1; transition: 0.2s ease}
:focus::-webkit-input-placeholder {opacity: 0; transition: 0.2s ease}
:focus::-moz-placeholder          {opacity: 0; transition: 0.2s ease}
:focus:-moz-placeholder           {opacity: 0; transition: 0.2s ease}
:focus:-ms-input-placeholder      {opacity: 0; transition: 0.2s ease}
form input,
form textarea,
.form-input{
	height: 30px;
	line-height: 30px;
	border: none;
	box-sizing: border-box;
	outline: none;
	border: 1px solid #d0d0d0;
	padding-left: 10px;
	width: 100%;
}
form textarea{
	height: 90px;
}
form input + input,
form input + textarea,
form textarea + input,
form button + input,
form input + button {
	margin-top: 15px;
}
.search input{
	border: none;
}
.search button{
	margin: 0;
}
/*Модальные окна*/
.close{
	outline: none !important;
	position: absolute;
	top: 10px;
	right: 10px;
	color: #ff4800;
	cursor: pointer;
	font-size: 26px;
	opacity: 1;
	z-index: 2;
	transition: all 0.5s ease;
}
.close:hover{
	opacity: 1;
	/*transform: rotate(90deg);*/
	transition: all 0.5s ease;
}
/* ========================================================================
  Стили шапки/ Header styles
======================================================================== */
.header{
	background: #1f1f1f;
}
.header-left{
	padding: 20px 60px 20px 0;
	background: #fff;
	min-height: 123px;
}
.header-left:before,
.header-center:before,
.header-right:before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 100%;
	width: 60px;
	background: #fff;
}
.header-left:after,
.header-center:after,
.header-right:after{
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -61.5px;
	left: -60px;
	width: 0; height: 0;
	border-top: 61.5px solid transparent;
	border-left: 36px solid #1f1f1f;
	border-bottom: 61.5px solid transparent;
}
.header-left a,
.header-left img{
	max-width: 100%;
}
.header-center{
	padding: 15px 80px 15px 0;
}
.header-center,
.header-center:before{
	background: #ff4800;
}
.header-center:after{
	border-left-color: #fff;
}
.header-right{
	padding: 10px 0;
}
.header-right:before{
	background: #1f1f1f;
}
.header-right:after{
	border-left-color: #ff4800;
}
.header-socials,
.header-socials-link{
	line-height: 1;
}
.header-socials-link{
	width: 26px;
	height: 26px;
	cursor: pointer;
}
.header-socials-link + .header-socials-link{
	margin-left: 5px;
}
.header-socials-link:after{
	content: "";
	color: rgba(255, 255, 255, 0.25);
	font-family: 'iconfont';
	font-size: 26px;
	transition: all 0.2s ease;
}
.header-socials-link-facebook:after{
	content: "\e900";
}
.header-socials-link-twitter:after{
	content: "\e901";
}
.header-socials-link-google:after{
	content: "\e902";
}
.header-socials-link-youtube:after{
	content: "\e903";
}
.header-socials-link:hover:after{
	color: #fff;
	transition: all 0.2s ease;
}
.header-phones-list{
	list-style: none;
	margin: 0;
	line-height: 1;
}
.header-phones{
	outline: none;
}
.header-phones a:focus{
	color: #fff;
}
.header-phones a:hover{
	color: #ff4800;
}
/* ========================================================================
  Стили шапки/ Header styles
======================================================================== */
.navbar{
	background: #d9dadc;
	padding-left: 0;
	padding-right: 0;
}
.main-menu{
	list-style: none;
}
.main-menu li{
	display: inline-block;
}
.main-menu li + li{
	margin-left: 30px;
}
.main-menu a{
	color: #1f1f1f;
	font-size: 12px;
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
}
.main-menu a:hover,
.main-menu .active a{
	border-color: #ff4800;
}
.form-input,
.navbar-toggler,
.form-search-button{
	outline: none !important;
}
.navbar-toggler{
	cursor: pointer;
	padding: 0 10px;
	width: 55px;
	height: 36px;
	border: none;
	top: 7px;
	right: 5px;
}
.navbar-toggler span{
	height: 4px;
	position: absolute;
	background: #1f1f1f;
	left: 10px;
	right: 10px;
	opacity: 1;
	transition: transform 0.5s ease;
}
.navbar-toggler.collapsed span{
	transition: transform 0.5s ease;
}
.navbar-toggler span:nth-child(1){
	top: 5px;
}
.navbar-toggler span:nth-child(2){
	top: 15px;
}
.navbar-toggler span:nth-child(3){
	top: 25px;
}
.navbar-toggler:not(.collapsed) span:nth-child(1){
	top: 13px;
	transform: rotate(-45deg);
}
.navbar-toggler:not(.collapsed) span:nth-child(2){
	opacity: 0;
}
.navbar-toggler:not(.collapsed) span:nth-child(3){
	top: 13px;
	transform: rotate(45deg);
}
.search{
	width: 200px;
}
.form-search-input{
	width: 200px;
	padding-left: 30px;
}
.form-search-button{
	top: 0;
	left: 0;
	background: transparent;
	border: none;
	line-height: 28px;
	color: #1f1f1f;
	cursor: pointer;
}
.form-search-button:after{
	content: "\e904";
	font-family: 'iconfont';
	font-size: 14px;
}
/* ========================================================================
  Стили блока категорий / Categories block styles
======================================================================== */
.categories_block-category a{
	display: inline-block;
	transition: all 0.3s ease;
}
.categories_block-category a:hover{
	transition: all 0.3s ease;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
}
.categories_block-category-text{
	max-width: 125px;
}
/* ========================================================================
  Стили блока со слайдером / Block with slider styles
======================================================================== */
.slick_slider-item img{
	width: 100%;
}
.slick-dots{
	list-style: none;
	padding: 0;
	margin: 5px 0 0 0;
	text-align: center;
}
.slick-dots li{
	display: inline-block;
}
.slick-dots li + li{
	margin-left: 10px;
}
.slick-dots button{
	background: #e0e0e0;
	border: none;
	width: 16px;
	height: 16px;
	padding: 0;
	box-shadow: inset 2px 2px 3px 0px rgba(1,1,1,0.2);
	text-indent: -9999px;
	border-radius: 100%;
	outline: none;
	line-height: 1;
	transition: all 0.2s ease;
}
.slick-dots .slick-active button,
.slick-dots button:hover{
	background: #1f1f1f;
	transition: all 0.2s ease;
}
/*Ссылки справа*/
.links_bars_block{
	padding-top: 20px;
}
.links_bars_block-link{
	margin-top: 20px;
	border-radius: 5px;
	border: solid 1px #a6a6a6;
	background: #636363;
	padding: 20px 20px 20px 45px;
	background: rgb(247,247,247);
	background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(239,239,239,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(239,239,239,1) 100%);
	background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(239,239,239,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#efefef',GradientType=0 );
}
.links_bars_block-link:hover{
	box-shadow: 5px 5px 7px -4px rgba(0,0,0,0.3);
}
.links_bars_block-link-marker{
	top: 26px;
	left: 15px;
	width: 20px;
	height: 20px;
	background: url('/images/active-icon.png');
	background-repeat: no-repeat;
	transform: translate3d(5px,0,0);
}
.links_bars_block-link:hover .links_bars_block-link-marker{
	-webkit-animation-delay: 0.2s;
	-webkit-animation-name: marker-shake;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-fill-mode: forwards;
	animation-delay: 0.2s;
	animation-name: marker-shake;
	animation-duration: 2s;
	animation-iteration-count:infinite;
	animation-fill-mode: forwards;
}
@-webkit-keyframes marker-shake {
	0% {
		transform: translate3d(0,0,0);
	}
	50% {
		transform: translate3d(10px,0,0);
	}
	100% {
		transform: translate3d(0,0,0);
	}
}
@keyframes marker-shake {
	0% {
		transform: translate3d(0,0,0);
	}
	50% {
		transform: translate3d(10px,0,0);
	}
	100% {
		transform: translate3d(0,0,0);
	}
}
/* ========================================================================
  Стили блока табов с преимуществами / Advantages-tabs block styles
======================================================================== */
.advantages-content{
	background: #f0f0f0;
	padding: 35px 40px;
}
.advantages-content-tabs{
	z-index: 1;
}
.advantages-svg-triangle{
	bottom: -7px;
	left: 0;
	right: 0;
	z-index: 0;
}
.advantages-svg-triangle svg{
	fill: #dadbdc;
}
.advantages-switcher-title,
.advantages-switcher{
	padding-left: 10px;
}
.advantages-switcher-item a{
	position: relative;
}
.advantages-switcher-item a:before{
	content: "";
	width: 18px;
	height: 12px;
	background-image: url('../images/active-icon.png');
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: -25px;
	margin-top: -6px;
	transform: rotate(180deg);
	opacity: 0;
	transition: all 0.2s ease;
}
.advantages-switcher-item a.active:before{
	opacity: 1;
	transition: all 0.2s ease;
}
/* ========================================================================
	Стили блока новостей на главной / News block home styles
======================================================================== */
.news_block-link a{
	margin-top: 10px;
	display: inline-block;
	line-height: 20px;
	color: #636363;
	border-bottom: 1px solid #d0d0d0;
}
.news_block-link a:hover{
	color: #636363;
	border-color: transparent;
}
.news_block-list-item-image{
	height: 260px;
	border: 1px solid #a6a6a6;
	overflow: hidden;
}
.news_block-list-item-image a{
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transition: all 0.3s ease;
}
.news_block-list-item-image:hover a{
	transition: all 0.3s ease;
	transform: scale(1.3) rotate(12deg);
}
.news_block-list-item-image a:after{
	content: "";
	transition: all 0.3s ease;
	opacity: 0;
}
.news_block-list-item-image:hover a:after{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
	background: rgba(0, 0, 0, 0.4);
	transition: all 0.3s ease;
}
.news_block-list-item-text{
	min-height: 48px;
}
.news_block-list-item-title{
	display: inline;
	border-bottom: 2px solid transparent;
}
.news_block-list-item-title:hover{
	color: #ff4800;
	border-color: #ff4800;
}
/* ========================================================================
	Стили блока с картой / Map block styles
======================================================================== */
.map_block{
	margin-top: 50px;
}
.map_block-map{
	height: 260px;
}
/* ========================================================================
	Стили блока с картой / Map block styles
======================================================================== */
.map_block{
	margin-top: 50px;
}
.map_block-map{
	height: 260px;
}
/* ========================================================================
	Стили слайдера с марками авто / Cars marks slider styles
======================================================================== */
.car_brands {
	margin-top: 60px;
}
.slick_slideset{
	padding: 0 30px;
	margin: 0;
}
.slick_slideset .slick-arrow{
	position: absolute;
	top: 50%;
	margin-top: -20px;
	background: transparent;
	border: none;
	color: #707070;
}
.slick_slideset .slick-arrow:hover{
	color: #ff4800;
}
.slick_slideset .slick-prev{
	left: 0;
}
.slick_slideset .slick-next{
	right: 0;
}
.slick_slideset .slick-arrow:before{
	font-family: 'iconfont';
	font-size: 26px;
}
.slick_slideset .slick-prev:before{
	content: "\e905";
}
.slick_slideset .slick-next:before{
	content: "\e906";
}
.slick_slideset-item{
	padding: 0 13px;
}
/* ========================================================================
	Стили футера / Footer styles
======================================================================== */
.footer{
	margin-top: 70px;
}
.footer-links_one-list ul,
.footer-links_two-list ul{
	margin: 0;
	padding: 0;
}
.footer-links_one-list li,
.footer-links_two-list li{
	display: inline-block;
	position: relative;
}
.footer-links_one-list li:before{
	content: "|";
	margin-right: 5px;
}
.footer-links_two-list li:nth-child(n+2):before{
	content: "/";
	margin: 0 7px 0 3px;
	color: #ff4800;
}
.footer-links_one-list a{
	color: #636363;
}
.footer-links_two-list a{
	color: #1f1f1f;
}
.footer-links_one-list a:hover,
.footer-links_two-list a:hover{
	color: #ff4800;
}
.medialine_copyrate-link{
	color: #ff4800;
	border-bottom: 1px solid transparent;
}
.medialine_copyrate-link:hover{
	color: #ff4800;
	border-color: #ff4800;
}
/* ========================================================================
  Медиа запросы / Media queries
======================================================================== */
@media (min-width: 768px){
	.header-socials,
	.header-phones-list,
	.header-phones-link{
		width: 100%;
	}
}
@media (min-width: 1200px){
	.container {
		width: 1250px;
		max-width: 100%;
	}
}
@media (max-width: 1199px){
	.header-center {
		padding: 15px 65px 15px 0;
	}
	.header-phones-list{
		font-size: 17px;
	}
	.news_block-list-item-image{
		height: 220px;
	}
}
@media (max-width: 991px){
	.w-md-100{
		width: 100%;
	}
	.main-menu li + li {
		margin-left: 0;
	}
	.search{
		width: 100%;
	}
	.news_block-list-item{
		margin-bottom: 20px !important;
	}
	.news_block-list-item-text{
		min-height: inherit;
	}
	.advantages-switcher-title{
		padding: 0;
	}
	.advantages-switcher{
		margin-left: -10px;
		padding: 0;
	}
	.advantages-switcher-item{
		margin-left: 10px;
	}
	.advantages-switcher-item a:before{
		content: none;
	}
	.footer-links_one-list li:first-child:before{
		content: none;
	}
}
@media (max-width: 767px){
	.w-sm-100{
		width: 100%;
	}
	.header{
		background: #fff;
		overflow: hidden;
	}
	.header-center {
		padding: 15px 35px 15px 0;
	}
	.header-right{
		background: #1f1f1f;
	}
	.header-left:before,
	.header-left:after{
		content: none;
	}
	.header-right:before,
	.header-right:after{
		width: 100vw;
		background: #1f1f1f;
		border: none;
		top: 0;
		bottom: 0;
		margin: 0;
		height: auto;
	}
	.header-right:after{
		left: 100%;
	}
	.navbar-toggleable-sm>.container {
		padding-right: 15px;
		padding-left: 15px;
	}
	.main-menu li + li {
		margin-top: 5px;
	}
	.search{
		width: 80%;
	}


	.footer-buttons-button{
		margin-top: 20px
	}
}
@media (max-width: 575px){
	.header-socials,
	.header-phones-list,
	.header-phones-link{
		width: 100%;
	}
	.header-phones-list,
	.header-phones-link{
		margin: 15px 0 0 0 !important;
	}
	.navbar-toggleable-sm > .container {
		min-width: 290px;
	}
	.search{
		width: 70%;
	}
	.button {
		padding: 0 14px;
	}
	.header-left {
		padding: 10px 20px 10px 0;
		min-height: 80px;
	}
	.footer-links_one-list,
	.footer-links_two-list{
		margin-top: 15px
	}
	.footer-links_one-list li,
	.footer-links_two-list li{
		display: block;
	}
	.footer-links_one-list li:before,
	.footer-links_two-list li:nth-child(n+2):before{
		content: none;
	}
	.footer-address-row{
		font-size: 17px;
	}
}